header{
  position: absolute;

width: 100%
}
nav{
  width: 100%;
  height: 10%;
  padding: none;
  margin: none;
}
nav li{

  margin: 6%;
}
#sale{
  color:red;
}

.off{
  text-align: center;
  text-decoration: bold;
}
#bag{
  position: absolute;
 
}
.btn{
 float: right;
 margin:4px;
}

div.sticky {
  margin: 4%;
  float: right;
  position: -webkit-sticky;
  position: sticky;
  z-index: 2;
  top: 0;
  background-color:transparent;
  padding: 0px
  font-size: 20px;
}
.price {
  color: grey;
  font-size: 22px;
}
.sub-heading{
  text-align: center;
 
}
.sub-sub{
  text-align: center;
   padding: 4%;
}
.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}

.card {
width: 80%;
  
  height: 55%;
  
  text-align: center;
  font-family: arial;
}

.price {
  color: red;
  font-size: 17px;
}

.card button {
 outline:solid;
border-color:red;
  padding: 8px;
  color: black;
  background-color: transparent;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 16px;
}

.card button:hover {
  opacity: 0.7;
}
col-sm{
  padding: none;
}
a {
  color: black;
}
a:hover{
  color:grey;
}
.pre-footer{
  background-color:#4E4E4E;
  color:white;
}
footer{
  font-size: 11px;
  text-align: center;
  padding: 2%;
  background-color: lightgrey;
}